name: locadora_de_livros
description: A new Flutter project.

publish_to: 'none' 


version: 1.0.0+1

environment:
  sdk: '>=2.18.2 <3.0.0'

# 
dependencies:
  flutter:
    sdk: flutter
    
  font_awesome_flutter: ^10.3.0
  mask_text_input_formatter: ^2.4.0
  rxdart: ^0.27.7
  intl: ^0.18.0
  image_picker: ^0.8.6+1
  http: ^0.13.5
  dio: ^4.0.6
  connectivity_plus: ^3.0.2
  http_parser: ^4.0.2

  cupertino_icons: ^1.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter


  flutter_lints: ^2.0.0

flutter:

  assets:
  - assets/images/
  uses-material-design: true
